.logo {
  width: 7rem;
  height: 4rem;
  margin-left: 5rem;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
}

.item_container {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  justify-content: space-evenly;
}

.item_container a.active,
.item_container a:hover {
  color: #e78925;
}

.header_item a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.header_item {
  color: black;
  text-transform: uppercase;
  margin-right: 2rem;
}
