.logo {
  width: 7rem;
  height: 4rem;
  margin-left: 5rem;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.item_container {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header_item {
  position: relative;
  margin-right: 2rem;
  text-transform: uppercase;
  overflow: hidden;
}

.header_item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ec9131;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.header_item:hover::after,
.header_item:focus::after,
.header_item:visited::after,
.header_item:active::after {
  width: 50%;
}
