.service_span {
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
}

.service_span a {
  text-decoration: none;
  color: inherit;
}

.service_span:hover {
  color: rgb(154, 59, 59);
}

.expertise {
  padding: 3rem 8rem;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  text-align: left;
  background-color: #f7f7f7;
}

.expertise p {
  font-size: 1rem;
}

.expertise_container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 9rem;
}

.expertise_item {
  flex: 1;
  /* paddi */
}

.expertise_item img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 1rem;
}

.expertise_item p {
  font-style: italic;
}
