.home_about {
  background-color: white;
  padding-top: 3rem;
  font-family: sans-serif;
}

.home_header {
  font-size: 3rem;
  color: black;
  background-color: white;
  text-align: left;
  padding-left: 8rem;
  margin: 0;
}

.home_header h5 {
  margin: 0;
  /* text-align: ; */
}

.home_header_sub {
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}

.home_header_sub a {
  text-decoration: none;
  color: inherit;
}

.home_about_container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 0rem 8rem 3rem 8rem;
  color: #696969;
}

.home_about_container h1 {
  font-size: 3rem;
}
.home_about_container h5 {
  font-size: 1.4rem;
}

.home_about_container p {
  font-size: 1.3rem;
  font-family: cerebri_sansregular;
}

.home_about_container a {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.home_about_container a:hover {
  color: #ec9131;
}

.home_about_container img {
  max-width: 100%;
  border-radius: 10px;
}

.home_about_item {
  flex: 1;
  /* line-height: 150%; */
}

.home_about_item h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
