.about {
  padding: 3rem 10rem;
  font-size: 1.5rem;
  background-color: rgb(236, 235, 232);
}

.title {
  font-size: 3rem;
  color: #ec9131;
  text-transform: uppercase;
}

.flex_container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.flex_container img {
  width: 20rem;
  height: 20rem;
}

.flex_item {
  padding-right: 5rem;
}

.span {
  color: #ec9131;
}

.vietnamese {
  border-radius: 10%;
}
