.about {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.heading {
  text-align: center;
  padding: 3rem 10rem;
  background-color: rgb(236, 235, 232);
  color: #ec9131;
}

.heading h1 {
  font-size: 4rem;
}

.content {
}

.vietnamese {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}
