.about {
  padding: 3rem 10rem;
  font-size: 1.5rem;
}

.title {
  font-size: 3rem;
  color: #ec9131;
}

.flex_container {
  display: flex;
  justify-content: space-evenly;
}

.flex_container img {
  width: 20rem;
  height: 20rem;
}
