.image_container {
  position: relative;
  background-color: rgb(236, 235, 232);
}

.flex_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0rem;
  /* transform: translateY(20px); */
}

.background {
  height: 100vh;
}

.home {
  padding: 3rem 10rem;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  text-align: left;
  word-spacing: 0.3rem;
  color: #ec9131;
}
.home p {
  font-family: "Single Day";
  margin-bottom: 3rem;
  color: black;
  word-spacing: normal;
}

.grid_container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20%;
  row-gap: 3rem;
  margin-bottom: 5rem;
  /* grid-template-rows: repeat(3, 20%); */
}

.span {
  color: #ec9131;
}

.book {
  padding: 7rem 4rem;
  text-align: center;
}

.book h1 {
  font-size: 3rem;
}

.book a {
  text-decoration: none;
  color: inherit;
}

.wait {
  font-size: 5rem;
  color: #ec9131;
}
