.image_container {
  position: relative;
  background-color: rgb(236, 235, 232);
}

.flex_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0rem;
}

.background {
  height: 100vh;
}

.home {
  padding: 3rem 10rem;
  color: black;
  font-size: 1.2rem;
  text-align: center;
}
.home p {
  font-family: "Single Day", cursive;
  margin-bottom: 3rem;
}
.home button {
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 10%;
  /* font-family: "Single Day", cursive; */
}

.grid_container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20%;
  row-gap: 3rem;
  margin-bottom: 5rem;
  /* grid-template-rows: repeat(3, 20%); */
}

.span {
  color: #ec9131;
}
