.services {
  padding: 3rem 10rem;
  text-align: center;
  background-color: rgb(236, 235, 232);
}

.services h1 {
  font-size: 4rem;
  color: #ec9131;
  /* font-family: "Single Day", cursive; */
}

.services p {
  font-size: 1.5rem;
}

.service_container {
  margin: 3rem 10rem;
  padding: 3rem 3rem;
  text-align: center;
  align-items: center;
  border: 0.5px black solid;
}

.section_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 5rem;
}

.section_container img {
  flex: 1;
  width: 15rem;
  border-radius: 1rem;
  height: auto;
}

.section_container div {
  flex: 1;
}

.section_container_item {
  text-align: left;
}

.section_container_item h1 {
  font-size: 4rem;
  display: block;
  margin: 0;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1.5rem;
}

.pricing {
  font-size: 1.3rem;
}
